In [2]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([1, 2, np.nan, 4, 5]) #object creation
s

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [4]:
dates = pd.date_range("20250101", periods=6)
dates

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df2 = pd.DataFrame(
      {
            "A": 1.0,
            "B": pd.Timestamp("20130102"),
            "C": pd.Series(1, index=list(range(10, 14)), dtype="float32"),
            "D": np.array([3] * 4, dtype="int32"),
            "E": pd.Categorical(["test", "train", "test", "train"]),
            "F": "foo",
      }
)
df2

      A          B    C  D      E    F
10  1.0 2013-01-02  1.0  3   test  foo
11  1.0 2013-01-02  1.0  3  train  foo
12  1.0 2013-01-02  1.0  3   test  foo
13  1.0 2013-01-02  1.0  3  train  foo

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'), index=dates)
df

                   A         B         C         D
2025-01-01  0.651906 -0.918474 -3.178394 -1.830918
2025-01-02  0.963136  0.845212 -0.740053 -2.220295
2025-01-03 -1.165831  1.507247  0.660211 -0.294632
2025-01-04 -0.378836  0.400057 -1.328961  0.628921
2025-01-05  0.629868  0.760130  0.147090 -0.682985
2025-01-06  0.874551 -0.583837  0.818929 -1.116279

In [7]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [8]:
df.head()

                   A         B         C         D
2025-01-01  0.651906 -0.918474 -3.178394 -1.830918
2025-01-02  0.963136  0.845212 -0.740053 -2.220295
2025-01-03 -1.165831  1.507247  0.660211 -0.294632
2025-01-04 -0.378836  0.400057 -1.328961  0.628921
2025-01-05  0.629868  0.760130  0.147090 -0.682985

In [9]:
df.index

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
df.to_numpy()

array([[ 0.65190589, -0.91847424, -3.17839449, -1.83091769],
       [ 0.96313555,  0.84521212, -0.74005349, -2.2202946 ],
       [-1.16583097,  1.50724655,  0.66021118, -0.29463196],
       [-0.37883551,  0.40005747, -1.32896126,  0.62892062],
       [ 0.6298681 ,  0.76013017,  0.14709012, -0.68298462],
       [ 0.87455125, -0.5838368 ,  0.81892878, -1.11627919]])

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.262466  0.335056 -0.603530 -0.919365
std    0.848944  0.920316  1.507228  1.039757
min   -1.165831 -0.918474 -3.178394 -2.220295
25%   -0.126660 -0.337863 -1.181734 -1.652258
50%    0.640887  0.580094 -0.296482 -0.899632
75%    0.818890  0.823942  0.531931 -0.391720
max    0.963136  1.507247  0.818929  0.628921

In [13]:
df

                   A         B         C         D
2025-01-01  0.651906 -0.918474 -3.178394 -1.830918
2025-01-02  0.963136  0.845212 -0.740053 -2.220295
2025-01-03 -1.165831  1.507247  0.660211 -0.294632
2025-01-04 -0.378836  0.400057 -1.328961  0.628921
2025-01-05  0.629868  0.760130  0.147090 -0.682985
2025-01-06  0.874551 -0.583837  0.818929 -1.116279

In [14]:
df.T

   2025-01-01  2025-01-02  2025-01-03  2025-01-04  2025-01-05  2025-01-06
A    0.651906    0.963136   -1.165831   -0.378836    0.629868    0.874551
B   -0.918474    0.845212    1.507247    0.400057    0.760130   -0.583837
C   -3.178394   -0.740053    0.660211   -1.328961    0.147090    0.818929
D   -1.830918   -2.220295   -0.294632    0.628921   -0.682985   -1.116279

In [15]:
df

                   A         B         C         D
2025-01-01  0.651906 -0.918474 -3.178394 -1.830918
2025-01-02  0.963136  0.845212 -0.740053 -2.220295
2025-01-03 -1.165831  1.507247  0.660211 -0.294632
2025-01-04 -0.378836  0.400057 -1.328961  0.628921
2025-01-05  0.629868  0.760130  0.147090 -0.682985
2025-01-06  0.874551 -0.583837  0.818929 -1.116279

In [16]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2025-01-01 -1.830918 -3.178394 -0.918474  0.651906
2025-01-02 -2.220295 -0.740053  0.845212  0.963136
2025-01-03 -0.294632  0.660211  1.507247 -1.165831
2025-01-04  0.628921 -1.328961  0.400057 -0.378836
2025-01-05 -0.682985  0.147090  0.760130  0.629868
2025-01-06 -1.116279  0.818929 -0.583837  0.874551

In [17]:
df.sort_values(by='A')

                   A         B         C         D
2025-01-03 -1.165831  1.507247  0.660211 -0.294632
2025-01-04 -0.378836  0.400057 -1.328961  0.628921
2025-01-05  0.629868  0.760130  0.147090 -0.682985
2025-01-01  0.651906 -0.918474 -3.178394 -1.830918
2025-01-06  0.874551 -0.583837  0.818929 -1.116279
2025-01-02  0.963136  0.845212 -0.740053 -2.220295

In [18]:
df

                   A         B         C         D
2025-01-01  0.651906 -0.918474 -3.178394 -1.830918
2025-01-02  0.963136  0.845212 -0.740053 -2.220295
2025-01-03 -1.165831  1.507247  0.660211 -0.294632
2025-01-04 -0.378836  0.400057 -1.328961  0.628921
2025-01-05  0.629868  0.760130  0.147090 -0.682985
2025-01-06  0.874551 -0.583837  0.818929 -1.116279

In [19]:
df['A']

2025-01-01    0.651906
2025-01-02    0.963136
2025-01-03   -1.165831
2025-01-04   -0.378836
2025-01-05    0.629868
2025-01-06    0.874551
Freq: D, Name: A, dtype: float64

In [20]:
df[1:4]

                   A         B         C         D
2025-01-02  0.963136  0.845212 -0.740053 -2.220295
2025-01-03 -1.165831  1.507247  0.660211 -0.294632
2025-01-04 -0.378836  0.400057 -1.328961  0.628921

In [24]:
df.loc[dates[0]]

A    0.651906
B   -0.918474
C   -3.178394
D   -1.830918
Name: 2025-01-01 00:00:00, dtype: float64

In [ ]:
df.loc[dates[0]:dates[3], ['A', 'B']]

                   A         B
2025-01-01  0.651906 -0.918474
2025-01-02  0.963136  0.845212
2025-01-03 -1.165831  1.507247
2025-01-04 -0.378836  0.400057